<p>
  You are viewing tooltip section!
</p>
<section class="">
  <div class="ui-g-3 ui-g-offset-3 ui-sm-10 ui-fluid">
    <button id="btnA" pButton type="button" icon="fa-check" iconPos="left" label="Button A"
    pTooltip="This is tooltip for button A." tooltipPosition="top" tooltipEvent="focus" (click)="enable()" life="{{disabled}}"></button>
  </div>
  <div class="ui-g-3 ui-sm-10 ui-fluid">
    <button id="btnB" pButton type="button" icon="fa-check" iconPos="left" label="Button B"  
    pTooltip="This is tooltip for button B." tooltipPosition="top" tooltipEvent="focus" (click)="enable()"  life="{{disabled}}"></button>
  </div>
</section>
