<br/>
<h4>
  You are viewing tooltip section. Please click on a button!
</h4>
<br/>
<section class="">
  <div class="ui-g-3 ui-md-offset-3 ui-sm-10 ui-fluid">
    <button pButton type="button" icon="fa-check" iconPos="left" label="Button A"
    pTooltip="This is tooltip for button A." tooltipPosition="top" tooltipEvent="focus" (click)="enable()" ></button>
  </div>
  <div class="ui-g-3 ui-sm-10 ui-fluid">
    <button pButton type="button" icon="fa-check" iconPos="left" label="Button B"  
    pTooltip="This is tooltip for button B." tooltipPosition="top" tooltipEvent="focus" (click)="enable()" ></button>
  </div>
</section>
